.subscriptionForm {
  display: flex;
  width: 100%;
  max-width: 800px;
  height: 40px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
}

.askSubscription {
  flex: 1;
  padding: 0 15px;
  border: none;
  font-size: 16px;
  outline: none;
}

.searchSubscription {
  padding: 0 25px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 1),
    1px 1px 10px rgba(45, 45, 45, 0.6);
}

.searchSubscription:hover {
  background-color: #45a049;
}

.subscriptionList {
  list-style: none;
  padding: 40px;
  margin: 0;
  border: solid 2px #323232;
  border-radius: 10px;
  height: 500px;
  width: 800px;
  background-color: #b1b6b2;
  overflow-y: auto;
}

.subscriptionItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.subscriptionItem button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px;
  margin-left: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.subscriptionItem button:first-of-type:hover {
  background-color: #d0eaff;
}

.subscriptionItem button:last-of-type:hover {
  background-color: #ffd0d0;
}

.subInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex: 1;
}

.subActions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 768px) {
  .subscriptionForm {
    width: 85vw;
    height: 30px;
    margin: 10px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }

  .subscriptionList {
    height: 400px;
    width: 85vw;
    margin: 10px 0;
    padding: 18px;
  }

  .subscriptionItem {
    flex-direction: row;
    align-items: flex-start;
  }

  .askSubscription {
    width: 200px;
  }

  .subInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .subActions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
  }
}